img {
    width: 100%;
}

h1 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

p {
    margin-left: 350px;
    margin-right: 350px;
}

.quote {
    color:red;
    font-size: 35px;
}

.pullquote {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}