img {
    width: 100%;
}

#topper-col {
    padding: 0px;
}

.header-content{
    font-size: 35px;
    position: absolute;
    bottom: 0;
    color:white;
}

.content {
    background-color: 
}

h2 {
    0px, 0px, 50px, 0px;
}

h3 {
    margin-left: 350px;
    margin-right: 350px;
}

h4 {
    font-size: 25px;
}

h5 {
    text-align: center;
}

h6 {
    margin-left: 425px;
    margin-right: 425px;
}

p {
    margin-left: 350px;
    margin-right: 350px;
}

.quote {
    color:red;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.pullquote {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}