img {
    width: 100%;
}

#topper-col {
    padding: 0px;
}

.header-content{
    font-size: 35px;
    position: absolute;
    bottom: 0;
    color:white;
    margin: 0px, 0px, 0px, 100px;
}

h2 {
    0px, 0px, 50px, 0px;
}

h4 {
    font-size: 25px;
}

p {
    margin-left: 350px;
    margin-right: 350px;
}

.quote {
    color:red;
    font-size: 35px;
    text-align: center;
}

.pullquote {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}