@media {

.container-fluid {
        background-color: #B7CC97;
    }

h1 {
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 300px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px 5px 20px;
    }

h2 {
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 250px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 20px 5px 20px;
    }


h3 {
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0px 10px 0px;
    }

h4 {
    font-family: termina, sans-serif;
    font-weight:500;
    font-style: normal;
    font-size: 40px;
    color: #3D0148;
    text-align: center;
    }

h5 {
    display: block;
    margin: auto;
    font-family: termina, sans-serif;
    font-weight:500;
    font-style: normal;
    font-size: 35px;
    color: #3D0148;
    text-align: center;
    }

h6 {
    font-family: termina, sans-serif;
    font-weight:500;
    font-style: normal;
    font-size: 30px;
    color: #3D0148;
    text-align: center;
    }

p {
    font-family: termina, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #3D0148;
    text-align: center;
    padding: 5px 0px 10px 0px;
    }

.nav {
   background-color: white;
    overflow: hidden;
    border: 2px solid black;
    margin: 20px 0px 20px 0px;
    }

.nav a {
    color: black;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    }
    
.nav a:hover {
    color: #3D0148; 
    }
      
#headshot {
    width:200px;
    display: block;
    margin: auto;
    border: 3px solid black;
}

#button {
    background-color:#3D0148;
    border:0px;
    border-radius: 30px;
    padding:10px 30px 10px 30px;
    text-transform: uppercase;
    display: block;
    margin: auto;
}

#button a {
    color:white;
    text-decoration: none;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    text-align: right;
}

#button a:hover {
    color: black;    
    }


#footer {
    color: black;
    background-color: white;
    border: 2px solid black;
    font-family: termina, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align:center;
    margin: 0px 0px 20px 0px;
     }

li {
    color: #3D0148;
    font-family: termina, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    }
    
}

@media (min-width:576px) {
  
#headshot {
        margin:10px 0px 0px 10px;
    }
}

@media (min-width: 992px) {
h1 {
    text-align: left;
    } 
    
h2 {
    text-align: left;
    }
    
#headshot {
    margin:25px 30px 30px 20px;
    }

#button {
    margin: 0px 0px 0px 20px;    
    }
}