@media {

.container-fluid {
        background-color: #B7CC97;
    }

h1{
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    }

h2{
    font-family: "termina", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: black;
    text-transform: uppercase;
    }

#headshot, h1 {
    float: right;
    display: inline;
    width: 49%;
    }

#headshot, h2 {
    float: right;
    display: inline;
    width: 49%;
    }

h3 {
    display: block;
    margin: auto;
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    }

h4, h5, h6, {
    display: block;
    margin: auto;
    font-family: "termina", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: #3D0148;
    }

p {
    display: block;
    margin: auto;
    font-family: "termina", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #3D0148;
    }

.nav a {
        display:block;
        margin: auto;
        background-color: white;
        border: 2px solid black;
        color: black;
        font-family: "termina", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        text-transform: uppercase;
    }
    
.nav a: hover {
       color: #3D0148; 
    }
    
#headshot {
    width:200px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border: 2px solid black;
    border-radius: 500px;
}

#button {
    background-color:#3D0148;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
}

#button a {
    color:white;
    text-decoration: none;
    font-family: "termina", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
}

.footer {
    color: black;
    background-color: white;
    border: 2px solid black;
    display: block;
    margin: auto;
     }


 @media (min-width:576px) {
  
     #headshot {
        margin:10px 0px 0px 10px;
    }


}
}