@media {

.container-fluid {
        background-color: #B7CC97
    }

h1{
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 140px;
    color: white;
    }

h2{
    font-family: termina, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: black;
    }

h3 {
    
    }

h4, h5, h6, p {
        
    }
 
.nav a {
        background-color: white;
        border: 2px solid black;
        color: black;
        font-family: termina, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
    }
    
#headshot {
    width:200px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border: 2px solid black;
    border-radius: 15px
}

#button {
    background-color:#3D0148;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
}

#button a {
    color:white;
    text-decoration: none;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15px;
}

 @media (min-width:576px) {
  
     #headshot {
        margin:10px 0px 0px 10px;
    }

.footer {
    color: black;
    background-color: white
    border: 2px solid black;
     }
}
}